@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v2fdna');
  src:  url('../fonts/icomoon.eot?v2fdna#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v2fdna') format('truetype'),
    url('../fonts/icomoon.woff?v2fdna') format('woff'),
    url('../fonts/icomoon.svg?v2fdna#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

img {
	max-width: 100%;
}

ol {
	font-size: 175%;
}

#title {
	height: 125px;
	line-height: 125px;
	text-align: center;
}

.title-text {
	font-size: 5em;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
	font-family: "beastly", sans-serif;
	font-weight: 400;
	font-style: normal;
	transform: translateY(-10px);
}

.container { 
	/* height: 100%;  */
	height: calc(100% - 250px);
}

#footer {
	text-align: center;
	position: relative;
	background: #f2ede3;
	/* background: linear-gradient(90deg, #f2ede3 0%, #bbb 100%); */
}

#footer span {
	height: 125px;
  	line-height: 125px;
  	text-align: center;
	margin:0 40px;
	text-transform: uppercase;
	font-family: "beastly";
	font-size: 3.25em;
}

.earth {
	color: #81B29A;
}
.water {
	color: #3D405B;
}
.fire {
	color:#E07A5F;
}
.air {
	color: #F2CC8F;
}

.bl-content h2 {
	font-family: "input-mono";
}

.bl-main {
	position: absolute;
	width: 100%;
	height: calc(100% - 250px);
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

#four-elements {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.25);
	z-index: 100;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #3D405B;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #E07A5F;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #F2CC8F;
	color: #3D405B;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #81B29A;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 2.25em;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
}

.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.icon-home:before {
	content: "\e900";
}

.icon-home3:before {
	content: "\e902";
}

.icon-office:before {
	content: "\e903";
}

.icon-book:before {
	content: "\e91f";
}

.icon-shrink:before {
	content: "\e98a";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-command:before {
	content: "\ea4e";
	transform: rotate(45deg);
}

.icon-make-group:before {
	content: "\ea58";
}

.icon-ungroup:before {
	content: "\ea59";
}

.icon-scissors:before {
	content: "\ea5a";
}

.icon-selection:before {
	content: "\ea76";
}

.icon-lifebuoy:before {
	content: "\e941";
}
.bl-icon-witness:before {
	content: "\e9cf";
}

.bl-icon-calendar:before {
	content: "\e953";
}

.bl-icon-news:before {
	content: "\e904";
}

.bl-icon-keys:before {
	content: "\e9c3";
}

/* CLOSE BUTTONS */

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 30px;
	right: 40px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	font-size: 2em;
}

.bl-icon-close:before {
	content: "\ea44";
}

.icon-down {
	display: block;
	margin: 0 auto;
	float: none;
}
.icon-down:before {
	content: "\ea0d";
	font-size: 4em;
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	margin: 0 -2% 0 -2%;
} 

.bl-content > ul li {
	margin: 1%;
	flex-grow: 1;
}

.bl-content > ul li a {
	text-align: center;
	font-size: 3.25em;
	font-family: "Beastly";
	display: block;
	padding: 0;
}

.bl-content > ul li a img {
	border: 8px solid rgba(0,0,0,0.1);
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	/* float: left; */
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	text-align: center;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	/* float: left; */
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 2em;
	display: block;
	width: 100%;
	/* text-transform: uppercase; */
	line-height: 2em;
	border-bottom: 2px solid #f2ede3;
	cursor: pointer;
	margin: 0 auto 40px;
	font-family: "input-mono";
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -190px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #3D405B;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #E07A5F;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #F2CC8F;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #81B29A;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}
